@using Microsoft.AspNetCore.Identity

@*@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TravelAgency.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">


    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">

</head>

<body>

    <div id="wrapper">

        <header>
            <i class="bi bi-mortarboard"></i>  "ПрофТестиум"
            <form name="search" action="#" method="get">
                <input type="text" name="q" placeholder="Поиск..."><button type="submit">Найти</button>
            </form>
        </header>

        <nav>
            <ul class="top-menu">
                <li>
                    <a style="color: #0077cc;" asp-area="" asp-controller="Home"
                       asp-action="Index">ВОЗМОЖНОСТИ</a>
                </li>
                <li>
                    <a style="color: #0077cc;" asp-area="" asp-controller="Home"
                       asp-action="AboutUs">ТАРИФЫ</a>
                </li>
                <li>
                    <a style="color: #0077cc;" asp-area="" asp-controller="Home"
                       asp-action="ListServices">ОТЗЫВЫ</a>
                </li>
                <li>
                    <a style="color: #0077cc;" asp-area="" asp-controller="Home"
                       asp-action="Contacts">ПОДДЕРЖКА</a>
                </li>

                @*@if (SignInManager.IsSignedIn(User))
                {
                <li name="entrance">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button style="color: #0077cc;" id="logout"
                type="submit" class="nav-link btn btn-link">
                ВЫЙТИ
                </button>
                </form>
                </li>
                }
                else
                {*@
                <li name="entrance"><a style="color: #0077cc;" href="/Identity/Account/Login">ВЫЙТИ</a></li>
                @*}*@

                @*@if (SignInManager.IsSignedIn(User))
                {*@
                <li><a style="color: #0077cc;" asp-area="" asp-controller="PersonalAccount" asp-action="Index">МОЙ КАБИНЕТ</a></li>
                @*}*@

                @*<partial name="_LoginPartial" />*@

            </ul>
        </nav>
        <div id="heading">
            <h4>Личный кабинет</h4>
        </div>
        <aside>
            <nav>
                <ul class="aside-menu">
                    <li><a asp-area="" asp-controller="Tour" asp-action="Index">Наша компания</a></li>
                    <li>
                        Личные данные
                        <ul class="sub-menu" style="display: none;">
                            <li>
                                <a asp-area="" asp-controller="City" asp-action="Index">
                                    Мое обучение
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="HotelStarRating" asp-action="Index">
                                    Мои тесты
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="MealType" asp-action="Index">
                                    Мои результаты
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="HotelFacility" asp-action="Index">
                                    Мои обращения
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="RoomAmenity" asp-action="Index">
                                    Мои заявки
                                </a>
                            </li>                            
                        </ul>
                    </li>
                    <li>
                        Материалы компании
                        <ul class="sub-menu" style="display: none;">
                            <li>
                                <a asp-area="" asp-controller="City" asp-action="Index">
                                    База учебных материалов
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Tests" asp-action="Index">
                                    База тестов
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="MealType" asp-action="Index">
                                    База сотрудников
                                </a>
                            </li>                            
                        </ul>
                    </li>
                    @*@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {*@
                    <li><a asp-area="" asp-controller="Requests" asp-action="Index">Аналитика по компании</a></li>
                    @*}*@
                </ul>
            </nav>
        </aside>

        <section class="bottom-element">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </section>
    </div>

    <footer>
        <div id="footer">
            <div id="twitter">
                <h3>Новости</h3>
                <time datetime="@DateTime.Now.Date.ToString()">@DateTime.Now.ToString()</time>
                <p>
                    В этом месяце скидка 20% на тариф "Предприятие".
                </p>
            </div>
            <div id="sitemap">
                <h3>КАРТА САЙТА</h3>
                <div>
                    <a asp-area="" asp-controller="Home"
                       asp-action="Index">Возможности</a>
                    <a asp-area="" asp-controller="Home"
                       asp-action="AboutUs">Тарифы</a>
                    <a asp-area="" asp-controller="Home"
                       asp-action="ListServices">Отзывы</a>
                    <a asp-area="" asp-controller="Home"
                       asp-action="Contacts">Поддержка</a>
                </div>
            </div>
        </div>
    </footer>


    @*Скрипты*@


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(document).ready(function () {
            $('.top-menu li').hover(function () {
                $(this).css('background-color', '#29c5e6');
            }, function () {
                $(this).css('background-color', '');
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.aside-menu li').hover(function () {
                $(this).css('color', '#29c5e6');
            }, function () {
                $(this).css('color', '');
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.aside-menu a').hover(function () {
                $(this).css('color', '#29c5e6');
            }, function () {
                $(this).css('color', '');
            });
        });
    </script>


    <script>
        $(document).ready(function () {
            $('table:not(#requests) tr').hover(function () {
                $(this).css('background-color', '#d4d4d4');
            }, function () {
                $(this).css('background-color', '');
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('li:contains("Материалы компании")').click(function () {
                $(this).find('.sub-menu').toggle();
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('li:contains("Личные данные")').click(function () {
                $(this).find('.sub-menu').toggle();
            });
        });
    </script>
</body>
</html>