@model ProfTestium.Models.ViewModels.TestViewModelToCreate

<h4>Добавление теста</h4>

@*@using (Html.BeginForm("Create", "Test", FormMethod.Post))
{*@

<form asp-action="Create">

    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>

    <div class="form-group col-md-9">
        <label asp-for="Course_id" class="control-label"></label>
        <select asp-for="Course_id" class="form-control" asp-items="ViewBag.Courses"></select>
    </div>

    <h5>Вопросы к тесту</h5>

    @for (int i = 0; i < Model.Questions.Count; i++)
    {
        <hr />
        <div class="question">
            <h6>Вопрос @(i + 1)</h6>

            <div class="form-group">
                @Html.LabelFor(m => m.Questions[i].Title)
                @Html.TextBoxFor(m => m.Questions[i].Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Questions[i].Title)
            </div>

            <h6>Ответы</h6>

            @for (int j = 0; j < Model.Questions[i].Answers.Count; j++)
            {
                <div class="answer">
                    Ответ @(j + 1)

                    <div class="form-group">
                        @Html.LabelFor(m => m.Questions[i].Answers[j].Title)
                        @Html.TextBoxFor(m => m.Questions[i].Answers[j].Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Questions[i].Answers[j].Title)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Questions[i].Answers[j].Correct)
                        @Html.CheckBoxFor(m => m.Questions[i].Answers[j].Correct)
                        @Html.ValidationMessageFor(m => m.Questions[i].Answers[j].Correct)
                    </div>
                </div>
            }
        </div>
    }

    <div class="form-group btn-group">
        <input type="submit" value="Добавить" class="btn btn-info" />
        <a class="btn btn-sm btn-outline-info" asp-action="Index">Вернуться к списку</a>
    </div>
</form>