@model IEnumerable<ProfTestium.Models.Test>

@{
    ViewData["Title"] = "Index";
}

<h4>База тестов</h4>

<p>
    <a class="btn btn-info" asp-action="Create">Добавить</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course_id)
            </td>
            <td>
                <div>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-arrow-counterclockwise"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3"></i></a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
