@model ProfTestium.Models.Course

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Учебный материал</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organization_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organization.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileCourse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileCourse)
        </dd>
    </dl>
</div>
<div class="form-group btn-group">
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model?.Id">Редактировать</a>
    <a class="btn btn-sm btn-outline-info" asp-action="Index">Вернуться к списку</a>
</div>
